<h1>Create a new order</h1>
<p>Product: <%= @product.title.capitalize %></p>
<p>Product: <%= @product.category.capitalize %></p>
<p>Price: R$<%= @product.price %></p>
<%= simple_form_for [@product, @order] do |f| %>
  <%= f.input :quantity %>
  <%= f.submit class: 'btn btn-success' %>
<% end %>
