<div class="container">
<%= simple_form_for product do |f| %>
  <%= f.input :category, as: :select, collection: @categories, prompt: 'Select a category', label: 'Category' %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>
</div>
