<h2><%= @product.title %></h2>
<p><%= @product.description %></p>
<p><%= @product.price %></p>


<%= link_to 'edit', edit_product_path(@product)  %>

<%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>

<%= link_to 'Return to products', products_path() %>

<%= link_to 'Buy', new_product_order_path(@product) %>
