<div class="product-details">
<%= link_to 'Return to products', products_path() %>
  <div class="card-product">
    <%= cl_image_tag @product.photo.key, class: "food-card-image", crop: :fill %>
    <div class="card-product-infos">
      <h2><%= @product.title.capitalize %></h2>
      <p><%= @product.category.capitalize %></p>
      <h3><%= @product.description.capitalize%></h3>
      <h4><%= @product.price %></h4>
      <h5><%= link_to 'Buy', new_product_order_path(@product) %></h5>

 <% if policy(@product).edit? %>
<%= link_to 'edit', edit_product_path(@product) %>
<% end %>

 <% if policy(@product).destroy? %>
<%= link_to 'Delete', product_path(@product), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>



<% if policy(Product).create? %>
     <%= link_to 'Buy', new_product_order_path(@product) %>
  <%else%>
      <%= link_to 'Buy', new_user_session_path(@user) %>
<% end %>
</div>

