
<div class="product-details">

<%= link_to 'Return to products', products_path(), class: "btn-return mt-4 mb-3" %>
  <div class="card-product">
    <%= cl_image_tag @product.photo.key, class: "food-card-image", crop: :fill %>
    <div class="card-product-infos">
      <h2 class="mt-3"><%= @product.title.capitalize %></h2>
      <p><%= @product.category.capitalize %></p>
      <h3><%= @product.description.capitalize%></h3>

      <h4><%= "R$ #{@product.price}" %></h4>
      <%= simple_form_for [@product, @order] do |f| %>
        <%= f.input :quantity %>

        <%= f.submit class: "btn-order mt-2 mb-3" %>
      <% end %>
    </div>
  </div>

  <% if policy(@product).edit? %>
    <%= link_to 'Edit', edit_product_path(@product), class: "btn-edit mt-2 mb-3" %>
  <% end %>



  <% if policy(@product).destroy? %>
    <%= link_to 'Delete', product_path(@product), class: "btn-edit mt-2 mb-3", method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
